{% extends 'admin/baseadmin.html.twig' %}

{% block title %}Texte{% endblock %}

{% block body %}
{% if fromclient %}
    <a class="btn btn-primary ms-4" href="{{ path('admin_projet_fromClient_index', {'id': id}) }}"><i class="fas fa-arrow-left"></i></a>
{% else %}
    <a class="btn btn-primary ms-4" href="{{ path('admin_projet_index') }}"><i class="fas fa-arrow-left"></i></a>
{% endif %}

<section class="d-flex flex-wrap justify-content-center align-items-center m-5">
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            {% autoescape %}
                {{ d|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Demande</h5>
            {% autoescape %}
                {{ de|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Focus</h5>
            {% autoescape %}
                {{ f|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Defi</h5>
            {% autoescape %}
                {{ df|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
        <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Action</h5>
            {% autoescape %}
                {{ a|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Temoignage</h5>
            {% autoescape %}
                {{ t|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
</section>
{% endblock %}    

{% block js %}

{% endblock %}