{% extends 'admin/baseadmin.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>

            {% if projet.client %}
            <tr>
                <th>Client</th>
                <td><a class="text-decoration-none"href="{{ path('admin_client_show', {'id': projet.client.id}) }}">{{ projet.client.nomClient }}</a></td>
            </tr>
            {% else %}
            <tr>
                <th>Client</th>
                <td>N/A</td>
            </tr>               
            {% endif %}

            <tr>
                <th>Projet</th>
                <td>{{ projet.projet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ projet.message }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ projet.commentaire }}</td>
            </tr>
        </tbody>
    </table>


    {% if fromclient %}

        <a href="{{ path('admin_projet_fromClient_index', {'id': projet.client.id}) }}">back to list</a>

        <a href="{{ path('admin_projet_edit', {'id': projet.id}) }}">edit</a>
        
    {% else %}

        <a href="{{ path('admin_projet_index') }}">back to list</a>

        <a href="{{ path('admin_projet_edit', {'id': projet.id}) }}">edit</a>

    {% endif %}

    {{ include('admin/projet/_delete_form.html.twig') }}
{% endblock %}
