{% extends 'base.html.twig' %}

{% block title %}Footer index{% endblock %}

{% block body %}
    <h1>Footer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for footer in footers %}
            <tr>
                <td>{{ footer.id }}</td>
                <td>{{ footer.adresse }}</td>
                <td>{{ footer.email }}</td>
                <td>{{ footer.tel }}</td>
                <td>
                    <a href="{{ path('app_footer_show', {'id': footer.id}) }}">show</a>
                    <a href="{{ path('app_footer_edit', {'id': footer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_footer_new') }}">Create new</a>
{% endblock %}
