{% extends 'admin/baseadmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1 class="title text-center">Administration</h1>
<div class=" m-xl-5">
  <section class="mb-5 m-xl-5">
    <div class="row gx-xl-5 ">

        <div class="card mb-2 col-xl-3 col-md-6 mb-4 mb-xl-6 m-5">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">work</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Projet</p>
              <h4 class="mb-0">{{ projet }}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0">Voir</p>
          </div>
        </div>

        <div class="card mb-2 col-xl-3 col-md-6 mb-4 mb-xl-6 m-5">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Client</p>
              <h4 class="mb-0">{{ client }}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0">Voir</p>
          </div>
        </div>

        <div class="card mb-2 col-xl-3 col-md-6 mb-4 mb-xl-6 m-5">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">bookmark</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Tags</p>
              <h4 class="mb-0">{{ tag }}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0">Voir</p>
          </div>
        </div>

        <div class="card mb-2 col-xl-3 col-md-6 mb-4 mb-xl-6 m-5">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">image</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Images</p>
              <h4 class="mb-0">{{ image }}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0">Voir</p>
          </div>
        </div>

        <div class="card mb-2 col-xl-3 col-md-6 mb-4 mb-xl-6 m-5">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">mail</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Mails</p>
              <h4 class="mb-0">{{ mail }}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0">Voir</p>
          </div>
        </div>

        <div class="card mb-2 col-xl-3 col-md-6 mb-4 mb-xl-6 m-5">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">cast</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Visite</p>
              <h4 class="mb-0">Lorem</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0">Voir</p>
          </div>
        </div>

    </div>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
