{% extends 'admin/baseadmin.html.twig' %}

{% block title %}Texte{% endblock %}

{% block body %}
<a class="btn btn-primary ms-4" href="{{ path('admin_client_index') }}"><i class="fas fa-arrow-left"></i></a>
<section class="d-flex flex-wrap justify-content-center align-items-center m-5">
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Histoire</h5>
            {% autoescape %}
                {{ h|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Enjeu</h5>
            {% autoescape %}
                {{ e|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Element Precision</h5>
            {% autoescape %}
                {{ ep|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Reponse</h5>
            {% autoescape %}
                {{ r|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
    <section class="m-5">
        <div class="card bg-dark text-light" style="width: 30rem; min-height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Temoignage</h5>
            {% autoescape %}
                {{ t|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
        </div>
    </section>
</section>
{% endblock %}    

{% block js %}

{% endblock %}